<%- layout("/layouts/boilerplate") %>
<body>
    <h3>this is home page</h3>
    <br>
    <br>
    <% if(!currUser){ %> 
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
    <% } %><% if(currUser){ %> 
        <a href="/logout">logout</a>
    <% } %>
    
</body>